*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
a, button, link {
  cursor: pointer;
}
body {
  font-family: "Rubik", sans-serif;
  margin: 0px;
}
.container {
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
.page-header {
  padding-top: 50px;
  padding-bottom: 50px;
}
.main-nav-list {
  display: flex;
}
.main-nav_link {
  display: inline-block;
  padding: 20px;
  line-height: 19px;
  color: #4F5665;
}
.main-nav_link:hover, 
.main-nav_link:focus{
  color:black;
}
.main-nav_link:active{
  color:rgb(214, 62, 70);
}
.pl-text {
  font-weight: 400;
  font-size: 16px;
}
.page-heder-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.stats {
  display: flex;
  justify-content: space-between;
  padding: 70px 100px;
  position: relative; 
  background: white;
  border-radius: 10px;
}
.stats::before{
  content:"";
  position: absolute;
  z-index: -1;
  top: 52px;
  bottom: -42px;
  left: 35px;
  right: 35px;
  background: #0D1025;
  opacity: 0.06;
  filter: blur(114px);
  border-radius: 10px;
}
.stats-item_icon{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: #FFECEC;
  border-radius: 50%;
}
.stats-item{
  display: flex;
  align-items: center;
}
.icon-user {
  color: wheat;
}
.stats-item-txt-wrap {
  display: flex;
  flex-direction: column;
}
.main-btn {
  border-style: none;
  background: #FCFFFF;
  padding-right: 15px;
  padding-left: 15px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #0B132A;
}
.main-btn:hover, 
.main-btn:focus {
  width: 164px;
  height: 45px;
  border: 1px solid #F53855;
  box-sizing: border-box;
  border-radius: 50px;
}
.main-btn:active {
  outline: none;
}





