*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
a, button, link {
  cursor: pointer;
  outline: none;
  border: none;
}
body {
  font-family: "Rubik", sans-serif;
  margin: 0px;
}
h1,
h2,
h3,
p {
  margin: 0px;
}
dd {
  margin-inline-start: 0px;
}
.container {
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
.page-header {
  padding-top: 50px;
  padding-bottom: 50px;
}
.main-nav-list {
  display: flex;
}
.main-nav_link {
  display: inline-block;
  padding: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #4F5665;
}
.main-nav_link:hover, 
.main-nav_link:focus{
  color:black;
}
.main-nav_link:active{
  color:rgb(214, 62, 70);
}
.page-heder-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wraper-flex{
  display: flex;
  justify-content:space-between;
  }
.first-section_title{
  font-weight: 500;
  font-size: 50px;
  line-height: 70px;
  margin-top: 127px;
}
.first-section_text{
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;
}
.first-section_img {
  margin-top: 111px;
  margin-bottom: 95px;
  width: 554px;
  height: 375px;
}
.first-section_btn{
  position: relative;
  width: 262px;
  height: 60px;
  background: #F53838;  
  border-radius: 10px;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  color: #FCFFFF;
}
.first-section_btn:hover:after{
  content: "";
  position: absolute;
  z-index: -1;
  width: 222px;
  height: 60px;
  top: 30px;
  left: 20px;
  right: 20px;
  background: rgba(245, 56, 56, 0.35);
  filter: blur(54px);
  border-radius: 10px; 
}
.stats {
  display: flex;
  justify-content: space-between;
  padding: 70px 100px;
  position: relative; 
  background: white;
  border-radius: 10px;
}
.stats::before{
  content:"";
  position: absolute;
  z-index: -1;
  top: 52px;
  bottom: -42px;
  left: 35px;
  right: 35px;
  background: #0D1025;
  opacity: 0.06;
  filter: blur(114px);
  border-radius: 10px;
}
.stats-item_icon{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: #FFECEC;
  border-radius: 50%;
  margin-right: 40px;
}
.stats-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icon-user {
  color: wheat;
}
.stats-item_txt-wrap {
  display: flex;
  flex-direction: column;
  align-items: space-between;
}
.main-btn {
  border-style: none;
  background: #FCFFFF;
  padding-right: 15px;
  padding-left: 15px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #0B132A;
}
.main-btn:hover, 
.main-btn:focus {
  width: 164px;
  height: 45px;
  border: 1px solid #F53855;
  box-sizing: border-box;
  border-radius: 50px;
}
.icon-style {
  color: #F53838;
}
.stats-item_title {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #0B132A;
}
.stats-item_text {
  font-size: 20px;
  line-height: 30px;
  color: #4F5665;
}
.third-section_img {
  width: 508px;
  height: 316px;
  margin-top: 156px;
  margin-bottom: 127px;
  margin-left: 47px;
  margin-right: 128px;
}
.flex {
  display: flex;
}
.second-titel{
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  margin-top: 107px;
  margin-bottom: 20px; 
}
.third-section_repres {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 30px;
  color: #4F5665; 
}
.third-section_elem {
  margin-left: 32px;
  position: relative;
  font-size: 14px;
  line-height: 30px;
  color: #4F5665; 
}
.third-section_elem:before {
  content: "\e903";
  font-family: 'icomoon';
  font-size: 10px;
  position: absolute;
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -32px;
  top: 4px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #2FAB73;
}
.fourth-section_second-titel {
  margin-top: 82px;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  text-align: center;
  color: #0B132A;
}
.fourth-section_second-text {
  margin-top: 20px;
  margin-bottom: 60px;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #4F5665;
}
.fourth-section_block {
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  width: 359px;
  height: 760px;
  background: #FCFFFF;
  border: 2px solid #DDDDDD;
  border-radius: 10px;
}
.fourth-section_img {
  display: block;
  margin-top: 80px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 145px;
  height: 165px;
}
.block_title {
font-weight: 500;
font-size: 18px;
line-height: 30px;
text-align: center;
color: #0B132A;
margin-bottom: 30px;
}
.block_item{
  position: relative;
  font-size: 14px;
  line-height: 37px;
  color: #4F5665; 
  padding-left: 130px;
}
.block_item:before {
  content: "\e903";
  position: absolute;
  font-family: 'icomoon';
  font-size: 12px;
  color: #2fab73;
  left: 90px;
}
.fourth-section_btn-title--unbold {
  font-weight: 400;
  color: #4F5665;
}
.fourth-section_btn-title{
  margin-top: 0px;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #0B132A;
}
.fourth-section_btn{
  display: block;
  position: relative;
  z-index: 1;
  align-self: flex-end;
  margin-bottom: 50px;
  width: 178px;
  height: 45px;
  color:#f53838;
  background: #FCFFFF;
  border: 2px solid  #f53838;
  border-radius: 25px;
  font-weight: bold;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
}
.fourth-section_btn:hover:after{
  content: "";
  position: absolute;
  width: 127px;
  height: 45px;
  top: 30px;
  left: 20px;
  right: 20px;
  color:#f53838;
  background: rgba(245, 56, 56, 0.35);
  filter: blur(54px);
  border-radius: 60px;
}
.fourth-section_btn:focus,
.fourth-section_btn:hover {
  background:#f53838;
  color:white;
}
.fifth-section_title{
  display: block;
  margin-top: 120px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  max-height: 100px;
  max-width: 448px;
  text-align: center;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  color: #0B132A;
}
.fifth-section_text{
  display: block;
  max-width: 555px;
  max-height: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #4F5665; 
}
.fifth-section_block {
  width: 360px;
  height: 277px;
  background: #FCFFFF;
  border: 2px solid #4F5665;
  border-radius: 10px;
  padding-top: 33px;
  padding-left: 32px;
  padding-right: 32px;
}
.fifth-section_block-top {
  display: flex;
  justify-content: space-between;

}
.fifth-section_foto{
  width: 50px;
  height: 50px;
}
.fifth-section_block-top--name{
  margin-right: 30px;

}
.fifth-section_block-title {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #0B132A;
  
}
.fifth-section_block-location{
  margin-top: 5px;
  font-size: 14px;
  line-height: 30px;  
  color: #4F5665;
}
.fifth-section_block-text{
  margin-top: 23px;
  font-size: 16px;
  line-height: 30px;
  color: #0B132A;
}
.fifth-section_block-num{
  position: relative;
  font-size: 16px;
  line-height: 30px;
  color: #0B132A;
  margin-right: 28px; 
}
.fifth-section_block-num::after{
  content: "\e909";
  position: absolute;
  font-family: "icomoon";
  color: #FEA250;
  right: -30px;
}
.fifth-sect_btn-item--act{

  width: 45px;
  height: 15px;
  background-color: #f53838;
  border-radius: 15px;

}
.fifth-sect_btn-item--l{
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 15px;
  background: #DDE0E4;
  border-radius: 50%;
}
.fifth-sect_btn-item--l:focus {
  border-radius: 1px solid #f53838;
}
.fifth-sect_btn-item--r{
  width: 60px;
  height: 60px;
  background: #F53838;
  border-radius: 50%;
  border: 2px solid #F53838;
  box-sizing: border-box;
  box-shadow: 0px 14px 44px rgba(14, 20, 34, 0.08);
}
.btn-style{
  background: #FCFFFF;
  outline: #f53838;
}
.icon-style_right{
  font-family: "icomoon";
  font-size: 18px;
  color: #FCFFFF;
}
.icon-style_left{
  font-family: "icomoon";
  font-size: 18px;
  color: #f53838;
}

.fifth-sect_left-btn{
  margin-top: 65px;
}
.fifth-sect_right-btn{
  margin-top: 45px;
}
.sixth-sect_btn-item {
  display: block;
  position: relative;
  margin-top: 68px;
  margin-right: 97px;
  width: 263px;
  height: 60px;
  background: #F53838;
  border-radius: 10px;
  font-size: 16px;
  line-height: 25px;
  color: #FCFFFF;
}
.sixth-sect_btn-item:hover:after{
  content: "";
  position: absolute;
  z-index: -1;
  width: 222px;
  height: 60px;
  top: 30px;
  left: 20px;
  right: 20px;
  background: rgba(245, 56, 56, 0.35);
  filter: blur(54px);
  border-radius: 10px; 
}
.sixth-sect_litle{
  max-width: 372px;
  max-height: 80px;
  font-weight: 500;
  font-size: 35px;
  line-height: 45px;
  margin-top: 58px;
  margin-left: 97px;
  margin-bottom: 20px;
}
.sixth-sect_text {
  display: block;
  margin-left: 97px;
  margin-bottom: 91px;
  font-size: 16px;
  line-height: 30px;
}
.sixth-sect_wrap {
  position: relative;
}
.sixth-sect_wrap:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 55px;
  bottom: -32px;
  left: 45px;
  right: 18px;
  background: #0D1025;
  opacity: 0.06;
  filter: blur(114px);
  border-radius: 10px;
}
.footer-column_text {
  margin-top: 20px;
  margin-bottom: 30px;
  max-width: 340px;
  max-height: 62px;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #4F5665; 
}
.bold-text{
  font-weight: 600; 
}
.bold-text--less{
  font-weight: 500;  
}
.footer-cop {
  margin-top: 30px;
  margin-bottom: 76px;
  font-size: 16px;
  line-height: 30px;
  color: #AFB5C0; 
}
.footer-title{
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #0B132A;
}
.footer-item{
  margin-top: 10px;
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;
}
.footer-column{
  margin-top: 50px;
  margin-bottom: 34px;
}
.foter-icon {
  position: relative;
  display: inline-block;
  margin-right: 40px;
  color: #f53838;
  font-size: 20px;
}
.foter-icon:after{
  content:"";
  position: absolute;
  display: inline-block;
  z-index: -1;
  left: -7px;
  top:-5px;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: #FCFFFF;
  box-shadow:
  0 2.8px 2.2px rgba(245, 56, 56, 0.034),
  0 6.7px 5.3px rgba(245, 56, 56, 0.048),
  0 12.5px 10px rgba(245, 56, 56, 0.06),
  0 22.3px 17.9px rgba(245, 56, 56, 0.072),
  0 41.8px 33.4px rgba(245, 56, 56, 0.086),
  0 100px 80px rgba(245, 56, 56, 0.12);
}