@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?1irxcf');
  src: url('fonts/icomoon.woff?1irxcf') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-user1:before {
  content: "\e900";
}
.icon-icon-user2:before {
  content: "\e901";
}
.icon-icon-user3:before {
  content: "\e902";
}
